<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="translucent black" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
		<title>Fundkarte: {{title}}</title>
		<style type="text/css">
			{{{css}}}
		</style>
	</head>

	<body>

		<div id="gallery">
			<div class="photo">
				<div class="header">
					<div class="title">{{title}}</div>
				</div>
				<div class="footer">
					<div class="datetime">{{datetime}}</div>
					<div class="address" latlng="{{latlng}}">{{address}}</div>
					<div class="desc">{{desc}}</div>
				</div>
			</div>
			<div class="map">
				{{{map}}}
			</div>
		</div>

	</body>
</html>